# Test

See: [DuckDB docs](https://duckdb.org/docs/archive/0.9.1/guides/python/jupyter)

In [1]:
import duckdb
import pandas as pd
# No need to import duckdb_engine
#  jupysql will auto-detect the driver needed based on the connection string!

In [2]:
# Import jupysql Jupyter extension to create SQL cells
%load_ext sql
    
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [3]:
%sql duckdb:///:default:
# %sql duckdb:///:memory:
# %sql duckdb:///path/to/file.db

In [4]:
%sql SELECT 'Off and flying!' AS a_duckdb_column

   a_duckdb_column
0  Off and flying!

In [5]:
%%sql
SELECT
    schema_name,
    function_name
FROM duckdb_functions()
ORDER BY ALL DESC
LIMIT 5

  schema_name      function_name
0  pg_catalog  shobj_description
1  pg_catalog  shobj_description
2  pg_catalog  shobj_description
3  pg_catalog          pg_typeof
4  pg_catalog          pg_typeof