# Test DuckDB

## Setup modules

In [1]:
import duckdb
import pandas as pd

%load_ext sql

Loading configurations from /Users/cees/Projects/tdbc/pyproject.toml

Settings changed:

+------------+-------+
|   Config   | value |
+------------+-------+
| autopandas |  True |
|  feedback  | False |
| displaycon | False |
+------------+-------+

In [2]:
%sql duckdb:///test02.db

In [3]:
%%sql

CREATE OR REPLACE TABLE t1(i INTEGER, j INTEGER);

INSERT INTO t1 VALUES(0, 0);
INSERT INTO t1 VALUES(1, 1);
INSERT INTO t1 VALUES(2, 4);
INSERT INTO t1 VALUES(3, 8);
INSERT INTO t1 VALUES(4, 16);

Empty DataFrame
Columns: [Success]
Index: []

In [4]:
%%sql

  SELECT *
    FROM t1
ORDER BY i;

   i   j
0  0   0
1  1   1
2  2   4
3  3   8
4  4  16